<footer data-testid="footer" class="mt-5 p-3 text-center text-xs text-black lg:text-sm">
	<p>
		Copyright © {new Date().getFullYear()}. All rights reserved. Made by <a
			href="https://github.com/mich0w0h"
			target="_blank"
			rel="noopener"
		>
			<span class="text-orange"> mich0w0h</span>
		</a>
	</p>
</footer>
