---
import heroImage from '@assets/images/hero.png';
import { Image } from '@astrojs/image/components';
---

<section
	data-testid="hero"
	class="flex h-1/2 flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="flex flex-col items-center text-justify lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="font-monospace text-3xl font-bold text-black">
				Hi there! I'm <span class="text-orange">mich0w0h</span>
			</h1>
			<p class="mt-3 font-monospace text-black">a corporate engineer / a hobby game developer</p>
		</div>
	</div>
	<div data-testid="hero-img" class="flex w-1/2 items-center justify-center">
		<Image
			src={heroImage}
			alt="Coding girl"
			aspectRatio="4:4"
			format="png"
			width={300}
			height={300}
			loading="eager"
		/>
	</div>
</section>
