---
import { Astronav } from 'astro-navbar';
---

<header data-testId="header" class="my-5 flex flex-col items-center justify-between lg:flex-row">
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<a href="/" title="mich0w0h" class="font-bold text-black lg:text-2xl"></a>
		</div>
	</Astronav>
</header>
