---
import Tags from '@components/ui/Tags.astro';
interface Props {
	url?: string;
	alt?: string;
	title?: string;
	description: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const {
	url = '#',
	description = 'Project Description',
	title = 'Project title',
	tags = ['Tags'],
} = Astro.props;
---

<section class="w-full py-1.5">
	<article
		data-testId="card"
		class="flex w-full flex-row items-center rounded-xl bg-white px-1 shadow-lg duration-100 hover:transform hover:shadow-xl lg:p-3 lg:p-8"
	>
		<a href={url} target="_blank" aria-label="link to project" class="w-full">
			<div class="mt-1 flex w-full flex-col justify-between px-4 py-1">
				<div>
					<div class="mb-1 flex items-center justify-between lg:mb-2">
						<h3 class="text-l font-semibold text-orange lg:text-2xl">{title}</h3>
					</div>
					<p class="text-xs text-black lg:text-sm">{description}</p>
				</div>
				<div class="self-end">
					<Tags tags={tags} />
				</div>
			</div>
		</a>
	</article>
</section>
