---
import Tags from '@components/ui/Tags.astro';
interface Props {
	url?: string;
	alt?: string;
	title?: string;
	description: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const {
	url = '#',
	description = 'Project Description',
	title = 'Project title',
	tags = ['Tags'],
} = Astro.props;
---

<section class="w-full p-1.5">
	<article
		data-testId="card"
		class="hover:bg-orange-400 flex w-full flex-row items-center rounded-xl bg-white p-3 shadow-lg duration-100 hover:transform hover:shadow-xl lg:p-8"
	>
		<a href={url} aria-label="link to project" class="w-full">
			<div class="mt-1 w-full p-2">
				<div class="mb-1 flex items-center justify-between lg:mb-2">
					<h3 class="text-xl text-orange lg:text-2xl">{title}</h3>
					<div>
						<Tags tags={tags} />
					</div>
				</div>
				<p class="text-s text-black">{description}</p>
			</div>
		</a>
	</article>
</section>
